{% extends "layout.html" %}
{% block content %}
    <h1>Portland Charities and Social Services Listings</h1>
    {% for entry in entries %}
        <p class=entry>
            Name: {{ entry.name }}<br>
            Description: {{ entry.description }}<br>
            Street Address: {{ entry.street_address }}<br>
            Type of Service: {{ entry.type_of_service }}<br>
            Phone Number: {{ entry.phone_number }}<br>
            Donation Total: {{ entry.donation_total }} <br>
            Rating: {{ entry.rating }}
        </p>
    {% endfor %}

{% endblock %}

